data/compressed
data/ontologies
data/pickled
data/raw
data/*.hdf5
data/.txt
data/.loom

env/
figures/
lightning_logs/
pytorch.venv


.ipynb_checkpoints
notes.md
**/__pycache__/
*.hdf5
*.gmt
*.loom
*__pycache__*
*.pyc
main.py
*.pkl
*.pt
*.ckpt
*.png
*.txt
*.out

# tm_multi_tissue_experiments/figures
# tm_multi_tissue_experiments/lightning_logs